In [6]:
pip install numpy

Requirement already satisfied: numpy in c:\users\hyper\appdata\local\programs\python\python313\lib\site-packages (2.2.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import pandas as pd
import numpy as np

In [8]:
# This Sales Data.
df = pd.read_csv(r'C:\Users\hyper\OneDrive\Desktop\Internship\Task1\Sales Data.csv')

In [9]:
# To check How many Rows and Column in our Data.
df.shape

(128976, 21)

In [10]:
# This code shows total no of null values present in column by column
df.isnull().sum()

index                      0
Order ID                   0
Date                       0
Status                     0
Fulfilment                 0
Sales Channel              0
ship-service-level         0
Category                   0
Size                       0
Courier Status             0
Qty                        0
currency                7800
Amount                  7800
ship-city                 35
ship-state                35
ship-postal-code          35
ship-country              35
B2B                        0
fulfilled-by           89713
New                   128976
PendingS              128976
dtype: int64

In [11]:
# As Checking in New and Pending all values are null so entire column needs to be droped.
df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel',
       'ship-service-level', 'Category', 'Size', 'Courier Status', 'Qty',
       'currency', 'Amount', 'ship-city', 'ship-state', 'ship-postal-code',
       'ship-country', 'B2B', 'fulfilled-by', 'New', 'PendingS'],
      dtype='object')

In [12]:
# Deleting the New and Pendings column and saving it to existing data.
df.drop(columns=['New', 'PendingS'],axis = 1, inplace=True)

In [13]:
df.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel',
       'ship-service-level', 'Category', 'Size', 'Courier Status', 'Qty',
       'currency', 'Amount', 'ship-city', 'ship-state', 'ship-postal-code',
       'ship-country', 'B2B', 'fulfilled-by'],
      dtype='object')

In [14]:
# Checking null vales.
pd.isnull(df).sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Category                  0
Size                      0
Courier Status            0
Qty                       0
currency               7800
Amount                 7800
ship-city                35
ship-state               35
ship-postal-code         35
ship-country             35
B2B                       0
fulfilled-by          89713
dtype: int64

In [15]:
# Replace the null with 0  in this particular columns because this are succesfully shipped and paid amount by the customer so it is useful  for Data Visuals.
# Correct and safe way to replace nulls in selected columns
columns_to_update = ['ship-city', 'ship-state', 'ship-postal-code', 'ship-country', 'fulfilled-by']
df[columns_to_update] = df[columns_to_update].fillna('0')

In [16]:
pd.isnull(df).sum()

index                    0
Order ID                 0
Date                     0
Status                   0
Fulfilment               0
Sales Channel            0
ship-service-level       0
Category                 0
Size                     0
Courier Status           0
Qty                      0
currency              7800
Amount                7800
ship-city                0
ship-state               0
ship-postal-code         0
ship-country             0
B2B                      0
fulfilled-by             0
dtype: int64

In [17]:
# Droping the null values of currency and amount because it is cancelled order so there is no use of it.
df.dropna(subset=['currency', 'Amount'], inplace=True)

In [18]:
# checking the shape of Dataframe after deletion
df.shape

(121176, 19)

In [19]:
# checking is there still any null values.there is no null values now the Data is cleaned.
pd.isnull(df).sum()

index                 0
Order ID              0
Date                  0
Status                0
Fulfilment            0
Sales Channel         0
ship-service-level    0
Category              0
Size                  0
Courier Status        0
Qty                   0
currency              0
Amount                0
ship-city             0
ship-state            0
ship-postal-code      0
ship-country          0
B2B                   0
fulfilled-by          0
dtype: int64

In [20]:
# cleaned and Renamed all the columns name in same formate and no spaces.
df.columns = ['index', 'order_id', 'date', 'status', 'fulfilment', 'sales_channel',
              'ship_service_level', 'category', 'size', 'courier_status', 'qty',
              'currency', 'amount', 'ship_city', 'ship_state', 'ship_postal_code',
              'ship_country', 'b2b', 'fulfilled_by']

In [23]:
# Checking all the columns dtypes.
df.dtypes

index                   int64
order_id               object
date                   object
status                 object
fulfilment             object
sales_channel          object
ship_service_level     object
category               object
size                   object
courier_status         object
qty                     int64
currency               object
amount                float64
ship_city              object
ship_state             object
ship_postal_code        int64
ship_country           object
b2b                      bool
fulfilled_by           object
dtype: object

In [22]:
# converted column dtype into int dtype.
df['ship_postal_code'] = df['ship_postal_code'].astype(int)

In [25]:
# Converted date into datetime dtype.
df['date'] = pd.to_datetime(df['date'])

In [26]:
df.to_csv('cleaned_data.csv', index=False)